@import "tailwindcss";
@import "tw-animate-css";

h1 {
  font-size: min(10vw, 70px);
  line-height: 110%;
}
h2 {
  font-size: min(9vw, 60px);
  line-height: 120%;
}
h3 {
  font-size: min(7vw, 46px);
  line-height: 120%;
}
h4 {
  font-size: min(6vw, 40px);
  line-height: 120%;
}

p {
  font-size: min(5vw, 17px);
  line-height: 150%;
}
.titleCard {
  font-size: min(6vw, 36px);
  line-height: 120%;
}
.light {
  font-size: min(5vw, 28px);
  line-height: 120%;
}
.subtitle {
  font-size: min(5vw, 19px);
  line-height: 150%;
}

@theme inline {
  --color-blue: #020bff;
  --color-darkBlue: #0a0b5c;
  --color-current: #687175;
}

body {
  color: #3c4345;
}
